# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/TestSwiftImport.iml
.idea/workspace.xml
.idea/xcode.xml
